body{



}

.inline-block{

    /* display: inline-block; */
    display:inline-block;

    width: 50px;
    height: 50px;
    background-color: red;

    margin: 55px 5px 5px 55px;
  
}

h1:hover{

    background-color: red;
    color: white;
}


h1 ::before{

    content: 'hello';
}


a:focus{
    color: red;
}

ul :first-child{

    background-color: red;
}

ul :last-child{

    color: blue;
}

ul:hover :last-child{

    background-color: aqua;
}

ul :nth-child(2n+1){

    background-color: brown;
}

li ::before{

    content: 'hiiiiii';
}

h5 ::before{

    content: 'heillo';
}

h5 ::after{

    content: 'gejksjksi';
}


/* module 6 */